.grid {
  width: 100%;
  height: 100%;
}

.griditem {
  height: auto !important;
}

.fab {
  min-width: 56px;
  min-height: 56px !important;
  position: fixed !important;
  bottom: 120px;
  right: 30px;
}
