.grid {
  padding: 2rem;
}

.box {
  margin: 2rem;
  width: 90%;
}

.avatar {
  display: block;
  height: 80px !important;
  width: 80px !important;
  margin: 1rem;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  margin-right: 1rem !important;
}
