.title {
  font-size: 4rem;
  a {
    color: #0070f3;
    text-decoration: none;
  }
  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
  }
}

.title,
.description {
  margin: 0;
  text-align: center;
}

.description {
  margin: 0.5rem 0 2rem 0;
  font-size: 1.5rem;
  a {
    color: #0070f3;
    text-decoration: none;
  }
  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
  }
}

.form {
  margin: 3rem 0;
  padding: 2rem;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  box-shadow: 0 0 40px -10px #666666;

  label {
    display: block;
    font-size: 1.25rem;
    color: #666666;
    margin-top: 2rem;
  }

  input {
    border: 1px solid #dad8d8;
    color: #666666;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    display: block;
    width: 243px;
    min-width: auto;
    padding: 5px;
    text-decoration: none;
    margin-top: 0.5rem;
    transition: border-color 0.15s ease;
    &:focus {
      border: 1px solid #666666;
    }
  }

  button {
    font-size: 1.25rem;
    width: 100%;
    padding: 0.25rem 0;
    border: 0;
    border-radius: 5px;
    background-color: #0070f3;
    text-decoration: none;
    outline: none;
    color: #fff;
    margin: 3rem 0 0.5rem;
    cursor: pointer;
  }
}

.card:hover,
.card:focus,
.card:active {
  border-color: #0070f3;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.8rem;
}
